
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(35, 108, 66);
    color:#fff;
    font-family: 'Poppins', sans-serif;
}

body #form-signup{
    width: 356px;
    height: 364px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 24px 24px 48px 24px;
    /* border: .5px solid #fff; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
  
}


body #form-signup input, .btn{
    padding: 6px 8px;
    border-radius: 4px;
    width: 100%;
    margin: 8px 0;
}

body #form-signup .btn{
    background-color: black;
    color: #fff;
   
}

body .info{
    margin-bottom: 20px;
    text-align: center;
    padding: 8px;
    color: gold;
    font-weight: bolder;
}