*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(35, 108, 66);
    color:#fff;
}

body #form-signup{
    width: 300px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 24px 24px 48px 24px;
    border: .5px solid #fff;
    
  
}




body #form-signup input, .btn{
    padding: 2px 8px;
    border-radius: 4px;
    width: 100%;
}

body #form-signup .btn{
    background-color: black;
    color: #fff;
   
}

body .info{
    margin-bottom: 20px;
    text-align: center;
    padding: 8px;
    color: gold;
    font-weight: bolder;
}